.dialog-root .MuiDialog-paper {
    min-height: 75vh;
    min-width: 75vw;
}
  
.dialog-root .MuiDialogTitle-root {
    text-align: center;
}
  
.dialog-root .MuiDialogContent-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
  
.dialog-root .MuiDialogActions-root {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
}